@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4 class="display-4">Product&Category operations</h4>

    <p>ASPNet Core Web / API is a multi-layer architectural best practices project.</p>

</div>
